body
{
  width: 100%;
  top: 0px;
  left: 0px;
  height: auto;
  min-height: 100%;

}


#center{
  position: absolute;
  background-color: #8e44ad;
  width: 95%;
  left:2.5%;
  top: 10%;
  padding-bottom: 4%;
  height:auto;
  min-height: 88%;
}

#header
{
  position: absolute;
  background-color: gray;
  width: 95%;
  height: 10%;
  top:0px;
  left:2.5%;

  border-style: solid;
  border-width: 0px 0px 2px 0px;
  margin:auto;
}

#header #middle
{
  margin-left: 35%;
}

#header .tags{
  position: relative;
  float:left;
  line-height: 60px;
  color:white;
}

#header #first
{
  left: 5%;
}

#header #last
{
  position: relative;
  margin-right:5%;
  float:right;
}

.note
{
  position: relative;
  float: left;
  left: 2.5%;
  margin-right: 2.5%;
  margin-bottom:2.5%;
  top: 20px;
  width:30%;
  height:240px;
  background-color: #ecf0f1;
  padding: 10px;
  overflow: hidden;

  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

}

.removePost
{
  float: right;
}

.removePost:hover{
  color:red;
}

.hash{
  display:none;
  visibility: hidden;
}
